#OperationEnroll{
    /* margin-left: 265px; */
    .form {
        position: fixed;
        z-index: 999;
        background-color: rgb(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        padding: 10px;
  
        form {
            padding: 20px;
            border-radius: 10px;
            margin: auto;
            background-color: rgb(255, 255, 255);
            max-width: 500px;
            font-size: 14px;
            margin-bottom: 50px;
            
  
            span {
                float: right;
                padding: 5px;
                margin-bottom: 20;
                cursor: pointer;
            }
  
  
        }
  
        h2 {
            text-align: center;
            color: #F15B29;
            font-weight: 600;
        }
  
        input
         {
            padding: 5px 10px;
            border: 1px solid #CCCCCC;
            width: 100%;
            margin: 2px 0;
            border-radius: 10px;
        }
        input:focus{
          outline: none;
        }
        select{
            padding: 5px 10px;
            border: 1px solid #CCCCCC;
            margin: 2px 0;
            margin-right: 10px;
            border-radius: 10px;
            width: 100%;
        }
        textarea{
            padding: 5px 10px;
            border: 1px solid #CCCCCC;
            margin: 2px 0;
            margin-right: 10px;
            border-radius: 10px;
            width: 100%;
        }            
        

        .cursor-pointer {
            background-color: black;
            color: white;
        }
    }
  
    .coursetable {
        padding: 5px;
        >div {
            display: flex;
            justify-content: space-between;
            align-items:center;
            margin: 5px 0;
  
           h2{
            color: #F15B29;
            font-weight: 600;
           }
        }
  
        span {
            cursor: pointer;
            font-weight: 600;
            border: 1px solid grey;
            padding: 5px;
            border-radius: 5px;

        }
  
        span:hover {
            color: #F15B29;
        }
  
        table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            button {
                color: white;
                background-color: rgb(0, 0, 0);
                padding: 5px 10px;
                border-radius: 5px;
                margin: 5px;
  
            }
        }
  
        table,
        td,
        th {
            border: 1px solid rgb(0, 0, 0, 0.3);
            padding: 2px;
        }
        th{
            background-color: grey;
            color: white;
        }
        button {
            color: white;
            background-color: rgb(0, 0, 0);
            padding: 5px 10px;
            border-radius: 5px;
            margin: 5px;

        }
    }
  }

  @media only screen and (max-width: 760px) {
    .cousetable {
        overflow-x: auto;
        
    }
  }

  table{
    tbody{
        .Cleared{
            background-color: rgb(128, 247, 128);
        }
        .Default{
            background-color: rgb(255, 0, 0);
        }
        .Half_Cleared{
            background-color: rgb(255, 251, 0);
        }
    }
  }