#MarketingHeader {
  position: sticky;
  top: 0;
  background-color: white;

  .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    img {
      height: 50px;
    }

    span {
      cursor: pointer;
      font-size: 30px;
    }
  }

  .sidebar {
    width: 265px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    right: 0;
    margin: 2px 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    scrollbar-width: none;

    a {
      font-size: 20px;
      padding: 05px 10px;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    button {
      background-color: black;
      margin: 10px;
      padding: 5px;
      color: white;
      border-radius: 10px;
    }
  }
}

#MarketingDashboard{
  padding: 10px;

  .welcomeDiv{
    box-shadow: 2px 2px 10px grey;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }
  
  .tablediv{
    overflow: scroll;
  scrollbar-width: none;
  border: 1px solid grey;

  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;

    button {
      color: rgb(0, 0, 0);
      padding: 5px 10px;
      border-radius: 5px;
      margin: 3px;
      cursor: pointer;
      font-size: 20px;
    }
    button:hover {
      background-color: #eee;
    }
  }

  table,
  td,
  th {
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 3px;

  }
  th {
    background-color: grey;
    color: white;
  }

}

#MarketingLeads {
  padding: 10px;
  

  .tablediv{
    overflow: scroll;
  scrollbar-width: none;
  border: 1px solid grey;

  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;

    button {
      color: rgb(0, 0, 0);
      padding: 5px 10px;
      border-radius: 5px;
      margin: 3px;
      cursor: pointer;
      font-size: 20px;
    }
    button:hover {
      background-color: #eee;
    }
  }

  table,
  td,
  th {
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 3px;

  }
  th {
    background-color: grey;
    color: white;
  }
}

#create-marketing-team {
  margin-left: 270px;

  h2 {
    text-align: center;
    color: #f15b29;
    font-weight: 600;
    font-size: large;
  }
  .form {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 9999;

    form {
      padding: 10px;
      border-radius: 10px;
      margin: auto;
      background-color: rgb(255, 255, 255);
      max-width: 500px;
      font-size: 14px;
      margin-bottom: 40px;

      span {
        float: right;
        padding: 5px;
        margin-bottom: 20;
        cursor: pointer;
      }
    }

    h2 {
      text-align: center;
      color: #f15b29;
      font-size: 20px;
      font-weight: 600;
    }
    textarea {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      width: 100%;
      height: 200px;
      margin: 3px 0;
      resize: none;
    }

    input,
    select {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      width: 100%;
      margin: 2px 0;
    }
    input:focus {
      outline: none;
    }
    textarea:focus {
      outline: none;
    }

    .cursor-pointer {
      background-color: black;
      color: white;
    }
  }

  .coursetable {
    padding: 5px;

    h1 {
      text-align: center;
      color: #f15b29;
    }
    h2 {
      text-align: center;
      color: #f15b29;
      font-weight: 600;
      font-size: large;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;

      h1,
      h2 {
        color: #f15b29;
        font-weight: 600;
      }
    }

    span {
      cursor: pointer;
      font-weight: 600;
      border: 1px solid grey;
      padding: 5px;
      border-radius: 5px;
    }

    span:hover {
      color: #f15b29;
    }

    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      font-size: 14px;

      button {
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 5px;
        margin: 3px;
        cursor: pointer;
        font-size: 20px;
      }
      button:hover {
        background-color: #eee;
      }
    }

    table,
    td,
    th {
      border: 1px solid rgb(0, 0, 0, 0.3);
      padding: 3px;
    }
    th {
      background-color: grey;
      color: white;
    }
    .applicationclick {
      color: red;
      font-weight: 600;
      cursor: pointer;
    }
  }

  #target {
    font-size: 12px;
    background-color: #eee;
  }
}

#AddExecutive {

  .form {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 9999;

    form {
      padding: 10px;
      border-radius: 10px;
      margin: auto;
      background-color: rgb(255, 255, 255);
      max-width: 500px;
      font-size: 14px;
      margin-bottom: 40px;

      span {
        float: right;
        padding: 5px;
        margin-bottom: 20;
        cursor: pointer;
      }
    }

    h2 {
      text-align: center;
      color: #f15b29;
      font-size: 20px;
      font-weight: 600;
    }
    textarea {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      width: 100%;
      height: 200px;
      margin: 3px 0;
      resize: none;
    }

    input,
    select {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      width: 100%;
      margin: 2px 0;
    }
    input:focus {
      outline: none;
    }
    textarea:focus {
      outline: none;
    }

    .cursor-pointer {
      background-color: black;
      color: white;
    }
  }

  .coursetable {
    padding: 5px;

    h1 {
      text-align: center;
      color: #f15b29;
    }
    h2 {
      text-align: center;
      color: #f15b29;
      font-weight: 600;
      font-size: large;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;

      h1,
      h2 {
        color: #f15b29;
        font-weight: 600;
      }
    }

    span {
      cursor: pointer;
      font-weight: 600;
      border: 1px solid grey;
      padding: 5px;
      border-radius: 5px;
    }

    span:hover {
      color: #f15b29;
    }

    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      font-size: 14px;

      button {
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 5px;
        margin: 3px;
        cursor: pointer;
        font-size: 20px;
      }
      button:hover {
        background-color: #eee;
      }
    }

    table,
    td,
    th {
      border: 1px solid rgb(0, 0, 0, 0.3);
      padding: 3px;
    }
    th {
      background-color: grey;
      color: white;
    }
    .applicationclick {
      color: red;
      font-weight: 600;
      cursor: pointer;
    }
  }

  #target {
    font-size: 12px;
    background-color: #eee;
  }
}
