#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background-color: black; */
  /* background-color: rgba(255, 255, 255, 0.95); */
  color: black;

  img {
    height: 50px;
  }

  a:hover {
    cursor: pointer;
    color: #f15b29;
  }

  .navbar {
    /* background-color: white; */
    backdrop-filter: blur(2px); 
    background-color: rgba(255, 255, 255, 0.884);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .menu {
      display: flex;
      align-items: center;
      font-weight: 600;
      gap: 10px;
      font-size: 14px;
      a {
        padding: 5px 0;
      }
      .btn {
        background-color: black;
        color: white;
        padding: 5px 20px;
        border-radius: 10px;
      }
    }
    .toggle {
      cursor: pointer;
      display: none;
      font-size: 30px;
    }
  }
  .mobile {
    z-index: -1;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    border-bottom: 1px solid rgb(255, 255, 255, 0.9);
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
    transform: translateY(-200px);
    animation: fadeInUp 1.1s forwards;

    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    a {
      background-color: aquamarine;
    }

    .btn {
      margin: 5px 0;
      background-color: rgb(255, 255, 255);
      width: max-content;
      color: rgb(1, 0, 0);
      padding: 5px 25px;
      border-radius: 10px;
    }
  }
}

/* mobile view */
@media (max-width: 900px) {
  #header .navbar .toggle {
    display: block;
  }

  #header .navbar .menu {
    display: none;
  }
}

#autopopup {
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  /* img{
    width: 70vw;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  } */
  h1 {
    font-size: 3vw;
  }
  h2 {
    /* font-family: cursive; */
    font-weight: 600;
    font-size: 6vw;
  }
  h3 {
    font-weight: 600;
    font-size: 2vw;
  }

  .autotext {
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.95);

    margin: auto auto;
    border: 1px solid #000000;
    border-radius: 10px;
    /* width:80%; */

    text-align: center;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }
  .close {
    text-align: right;

    span {
      color: #f15b29;
      font-size: 22px;
      animation: fontSizeAnimation 2s infinite;
      cursor: pointer;
    }
    span:hover {
      color: #000000;
    }
  }
  .first {
    align-items: center;
    width: fit-content;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
    >div{
      display: flex;
      gap: 50px;
    }
    img {
      height: 6vw;
    }
  }

  .second {
    /* background-color: #f15b29; */
    width: fit-content;
    padding: 10px;
    margin: auto;
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    img {
      height: 5vw;
      width: auto;
      margin: auto;

      
    }
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fontSizeAnimation {
  0% {
    font-size: 10px;
  }
  50% {
    font-size: 15px;
  }
  100% {
    font-size: 10px;
  }
}
