#landingpage {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  cursor: default;
  overflow: hidden;

  .btnblack {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
  }

  .btnwhite {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
  }

  /*-----------------------hero section---------------------------  */
  .hero {
    max-width: 1500px;
    margin: 0 auto;

        
    #newh1{
       font-size: 20px;
       text-align: left;
    }

    @media(max-width:500px) {
      section .textsuffle{
      height: 410px;

      }
        
      }
  
      
    
  }

  /*-----------------------Aboutus section---------------------------  */
  .aboutus {
    padding: 70px 10px;
    background-color: white;
    color: #000000;

    .about1stdiv {
      max-width: 1500px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .text {
        padding: 20px;

        h1 {
          margin-bottom: 20px;
        }
      }

      >div {
        flex: 1 1 35%;
        text-align: center;

        button {
          margin-top: 20px;
        }

        .number {
          margin-top: 20px;
          text-align: left;

        }
      }
    }

    .box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      span {
        font-size: 50px;
        color: rgb(242, 91, 41);
      }

      >div {
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
      }
    }

    @media screen and (max-width: 800px) {
      .about1stdiv>div {
        flex: 1 1 100%;

      }
    }

    .boxfour {
      max-width: 1500px;
      margin: auto;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      >div {
        gap: 10px;
        border: solid 1px rgb(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        padding: 10px 10px;

        span {
          font-size: 50px;
        }
      }

    }

    @media (max-width: 800px) {
      .boxfour {
        grid-template-columns: 1fr;
      }
    }

  }

  /*-----------------------roadmap section---------------------------  */
.roadmap{
  background-color: white;
  padding:0 10px;

  >div{
    color: #000000;
    max-width: 1500px;
    margin: auto;
  }
}


  /*-----------------------StartCareer section---------------------------  */
  .startcareer {
    padding: 20px 10px 70px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0) 50%, rgba(255, 255, 255) 50%);

    >div {
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      max-width: 1500px;
      padding: 20px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      h2 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      div {
        flex: 1 1 45%;

        span {
          color: #f15b29;
          margin-right: 5px;
          font-size: 20px;
        }

      }
    }
  }

  @media (max-width: 900px) {
    .startcareer>div>div {
      flex: 1 1 100%;
    }
  }

  /*-----------------------Provide section---------------------------  */
  .providesection {
    padding: 70px 10px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .provide {

      max-width: 1500px;
      margin: auto;


      >div {

        display: grid;
        max-width: 1000px;
        margin: auto;
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .provide1 {
          border-radius: 10px;
          padding: 10px 10px;

          span {
            font-size: 50px;
          }
        }

        .provide1:hover {
          box-shadow: 0px 0px 10px 0px rgb(255, 255, 255, 0.2);
        }
      }
    }
  }


  /*-----------------------Alumini work at section---------------------------  */
  .workat {
    padding: 70px 10px;

    .alumni {
      max-width: 1500px;
      margin: auto;
      text-align: center;


      .workatslider {
        margin-top: 30px;
        border-radius: 10px;
        overflow: hidden;
      }

      .clients {
        max-width: 1500px;
        min-width: 1500px;

        .box {
          cursor: grab;
          display: grid;
          align-items: center;
          justify-items: center;
          width: 60%;
          height: auto;
          transition: transform 0.5s ease-in;
          padding: 20px;
        }

        .box img {
          width: 100%;
          height: 50px;
          padding: 5px;
        }

        .box:hover {
          transform: scale(1.2);
        }

        .slick-prev:before,
        .slick-next:before {
          display: none;
        }
      }
    }
  }


  /*-----------------------Specialization section---------------------------  */
  .specialization {
    padding: 70px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    >div {
      max-width: 1500px;
      margin: auto;
      text-align: center;

      .specializationiner {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;

        >div {
          background-color: rgb(0, 0, 0);
          flex: 1 1 45%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100px 0 0 0;
            object-position: center center;
          }

          .specialtext {
            display: flex;
            align-items: center;
            text-align: left;
            gap: 20px;

            span {
              font-size: 50px;
            }
          }
        }

        .textdiv {
          display: flex;
          flex-direction: column;
          gap: 30px;
          justify-content: center;
          padding: 0 10px;
        }
      }

      @media (max-width: 900px) {
        .specializationiner>div {
          flex: 1 1 100%;
        }
      }
    }
  }

  /* ---------------------Popular Course----------------------------- */
  .popularcourse {
    max-width: 1500px;
    padding: 70px 10px;
    margin: auto;

    .clients {
      margin-top: 30px;
      overflow: hidden;
    }

    .container1 {
      max-width: 1500px;
      min-width: 1500px;

      .course {
        cursor: grab;
        padding: 10px;

        >div {
          background-color: rgb(0, 0, 0);
          border-radius: 10px;
          border: 1px solid rgb(255, 255, 255, 0.5);
          




          img {
            width: 100%;
            height: 200px;
            border-radius: 10px 10px 0 0;
          }

          >div {
            padding: 5px;

            h2 {
              font-size: 18px;
            }

            span {
              color: #f15b29;
            }
          }

          .btn {
            font-weight: 600;
            color: #f15b29;
            margin-top: 10px;
          }
        }
      }
    }
  }

  /* -----------------------why choose section--------------------- */
  .whychoose {
    padding: 70px 0px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .whydiv {
      max-width: 1500px;
      margin: auto;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .whyimg {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100px 0 0 0;
          object-position: center center;
        }
      }

      .whytext {
        text-align: left;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .text {
          display: flex;
          gap: 20px;

          span {
            font-size: 60px;
          }
        }
      }
    }

    @media (max-width: 800px) {
      .whydiv {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  /* ----------------------------Mission Vission Section------------------- */
  .misvis {
    padding: 70px 10px;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    gap: 20px;

    h1 {
      margin-bottom: 30px;
    }

    .mission {
      li {
        font-size: 20px;
        margin-bottom: 20px;
        border-bottom: solid 5px #f15b29;
      }
    }
  }

  .misvis>div {
    flex: 1;
    box-sizing: border-box;
    min-width: 250px;
  }

  .empower {
    max-width: 1500px;
    margin: auto;
    padding: 0px 10px 70px 10px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 20px;

    div {

      span {
        font-size: 40px;
      }
    }
  }

  @media (max-width: 750px) {
    .empower {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* ---------------------------Testimonial Section--------------------- */
  .testimonial {
    padding: 70px 10px;
    scrollbar-width: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    background-image: url(../assets/testimonialbg.jpg);
    background-size: cover;

    .testimonialdiv {
      max-width: 1500px;
      margin: auto;
      margin-top: 30px;
      overflow: hidden;
    }

    .testimonialcontainer {
      max-width: 1500px;
      min-width: 1500px;
    }

    .box {
      padding: 5px;
      cursor: grab;

      .revtxt{
        /* background-color: #f15b29; */
        height: 200px;
        overflow: auto;
        scrollbar-width: none;
        padding:0 2px;

      }
    }

    .box>div {
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(0, 0, 0, 0.7);
      border: solid 1px rgb(255, 255, 255, 0.1);
      transition: transform 0.5s ease-in;

      .upr {
        margin-top: 20px;
        display: flex;

        >div {
          margin-left: auto;
          text-align: right;
        }
      }

      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
h2{
  font-size:16px ;
  color: #f15b29;
}

      h3 {
        font-size: 12px;
        font-style: italic;
      }

      p {
        font-style: italic;
      }
    }

    .slick-prev:before,
    .slick-next:before {
      display: none;
    }
  }

  /* ---------------------corporate solution section------------------- */
  .corporatesolution {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 70px 0px;
    text-align: center;

    .corporatediv {
      max-width: 1500px;
      margin: auto;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .corporateimg {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100px 0 0 0;
          object-position: center center;
        }
      }

      .corporatetext {
        text-align: left;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .text {
          display: flex;
          gap: 20px;

          span {
            font-size: 60px;
          }
        }
      }
    }

    @media (max-width: 800px) {
      .corporatediv {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }


  .whitediv {
    background-color: white;
  }

  /*-----------------------Our Process section---------------------------  */
  .ourprocess {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(0, 0, 0, 1) 60%);
    padding: 30px 10px;

    .ourprocessdiv {
      background-color: #000000;
      border: 2px solid rgba(255, 255, 255, 0.5);
      overflow: hidden;
      border-radius: 20px;
      max-width: 1500px;
      margin: auto;
      gap: 10px;
      display: flex;
      flex-wrap: wrap;

      .process1 {
        flex: 1 1 35%;
        padding: 30px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h1 {
          margin-bottom: 20px;
        }

        >div {
          margin-top: 20px;
          display: flex;
          gap: 10px;
          justify-content: center;
        }
      }

      .process2 {
        flex: 1 1 60%;
      }

      @media (max-width: 800px) {

        .process2,
        .process1 {
          flex: 0 1 100%;
        }
      }
    }
  }

  /* -----------------------------what makes us different--------------- */
  .whatmakesusdifferent {
    color: black;
    padding: 30px 10px;
    text-align: center;
    border-top: none;

    .whatmakesusdifferentdiv {
      max-width: 1500px;
      margin: auto;
      display: flex;
      justify-content: center;

      img {
        max-height: 500px;
      }
    }
  }

  /* our story */
  .ourstory {
    color: #000000;
    text-align: center;
    max-width: 1500px;
    margin: auto;
    padding: 30px 10px;

    .storydiv {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      img {
        width: 55%;
      }
    }

  }

  h1 {
    text-align: center;
    font-size: clamp(24px, 5vw, 40px);
    font-weight: 600;
  }

  h2 {
    font-size: clamp(20px, 5vw, 22px);
    font-weight: 600;
  }

  p {
    font-size: clamp(10px, 5vw, 16px);
    line-height: 1.2;
  }
}


/* ----------------------------landing css end-------------------------- */

@keyframes fadeInUp {
  to {
    opacity: 1;
    /* End opacity */
    transform: translateY(0);
    /* End position */
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 1vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;

  .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }

  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
  }

  .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 6s;
  }

  .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 9s;
  }

  .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 16s;
  }

}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.talktoadvisor{
  >div{
    position: relative;

    >div{
      position: absolute;
      text-align: center;
      /* background-color: #f15b29; */
      bottom: 12%;
      left: 10%;
    }
  }
}