#AdminHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    img {
      height: 50px;
    }

    span {
      cursor: pointer;
      font-size: 30px;
    }
  }

  .sidebar {
    width: 265px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* transform: translateX(200px);
    animation: fadeInUp 1.1s forwards; */
    max-height: calc(100vh - 80px);
     overflow-y: scroll; 
    scrollbar-width: none; 

    /* .sidebar::-webkit-scrollbar {
      width: 0px; 
    }
    
    .sidebar::-webkit-scrollbar-thumb {
      background: transparent; 
    }  */

    a {
      font-size: 20px;
      padding: 05px 10px;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    button {
      background-color: black;
      margin: 10px;
      padding: 5px;
      color: white;
      border-radius: 10px;
    }
  }
}

#AdminAddCourse {
  margin-left: 270px;
  
  h2 {
    text-align: center;
    color: #f15b29;
    font-weight: 600;
    font-size: large;
  }
  .form {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 9999;



    form {
      padding: 10px;
      border-radius: 10px;
      margin: auto;
      background-color: rgb(255, 255, 255);
      max-width: 600px;
      height:600px;
      font-size: 14px;
      margin-bottom: 30px;
      overflow-y: scroll;
      /* scrollbar-width: none; */
      
      span {
        float: right;
        padding: 5px;
        margin-bottom: 20;
        cursor: pointer;
      }
    }

    h2 {
      text-align: center;
      color: #f15b29;
      font-size: 15px;
      font-weight: 600;
    }
    textarea {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      width: 100%;
      height: 200px;
      margin: 3px 0;
      resize: none;
    }

    input , select {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      width: 100%;
      margin: 2px 0;
    }
    input:focus {
      outline: none;
    }
    textarea:focus {
      outline: none;
    }

    .cursor-pointer {
      background-color: black;
      color: white;
    }
  }

  .coursetable {
    padding: 5px;

    h1 {
      text-align: center;
      color: #f15b29;
    }
    h2 {
      text-align: center;
      color: #f15b29;
      font-weight: 600;
      font-size: large;
    }


    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;

      h1,
      h2 {
        color: #f15b29;
        font-weight: 600;
      }
    }

    span {
      cursor: pointer;
      font-weight: 600;
      border: 1px solid grey;
      padding: 5px;
      border-radius: 5px;
    }

    span:hover {
      color: #f15b29;
    }

    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      font-size: 14px;
  
      

      button {
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 5px;
        margin: 3px;
        cursor: pointer;
        font-size: 20px;
      }
      button:hover {
        background-color: #eee;
      }
    }

    table,
    td,
    th {
      border: 1px solid rgb(0, 0, 0, 0.3);
      padding: 3px;

    }
    th {
      background-color: grey;
      color: white;
    }
    .applicationclick {
      color: red;
      font-weight: 600;
      cursor: pointer;
    }
  }

  #target{
     font-size: 12px;
     background-color: #eee;
  }
}

#addmodule {
  margin-left: 270px;
  background-color: white;
  height: calc(100vh - 80px);
  display: flex;
  overflow: hidden;

  .left {
    border-right: 1px solid black;
    width: max-content;
    padding: 5px 10px;

    h2 {
      font-weight: 600;
      text-align: center;
      color: #f15b29;
      white-space: nowrap;
    }

    ul {
      overflow-y: scroll;
      scrollbar-width: none;

      height: calc(100% - 25px);
    }

    li {
      cursor: pointer;
      padding: 5px;
      border-bottom: 1px solid black;
      white-space: nowrap;
    }

    li:hover {
      font-weight: 600;
    }
  }

  .right {
    width: 100%;
    padding: 5px;

    h2 {
      color: #f15b29;
      font-weight: 600;
      text-align: center;
    }

    .moduletop {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 10px;
      span {
        cursor: pointer;
        font-weight: 600;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 5px;
      }
      span:hover {
        cursor: pointer;
        color: #f15b29;
      }
    }

    .moduleform {
      position: absolute;
      background-color: rgb(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 20px;
      z-index: 1;

      form {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 10px;
        gap: 20px;
        margin: 0 auto;
        margin-top: 70px;
        width: fit-content;

        strong {
          display: flex;
          justify-content: flex-end;
        }

        input {
          width: 100%;
          border: 1px solid rgb(0, 0, 0, 0.5);
          padding: 5px;
          border-radius: 5px;
          margin: 5px 0;
        }
       

        .button {
          background-color: black;
          color: white;
          cursor: pointer;
        }

        span:hover {
          color: #f15b29;
          cursor: pointer;
        }
      }
    }

    .modulediv {
      height: calc(100vh - 110px);
      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      table {
        width: 100%;
        text-align: center;

        button {
          color: black;
          padding: 5px 10px;
          border-radius: 5px;
          margin: 5px;
          font-size: 20px;
        }
        button:hover {
          background-color: #eee;
        }
        .video {
          margin: 2px auto;
          position: relative;
          height: 150px;
          min-width: 200px;

          img {
            right: 0;
            padding: 5px;
            height: 50px;
            position: absolute;
          }
          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }

      table,
      td,
      th {
        border: 1px solid rgb(0, 0, 0, 0.3);
      }
      th {
        background-color: grey;
        color: white;
      }

      .description {
        margin-top: 10px;
        pre {
          padding: 5px;
          border-radius: 10px;
          height: 150px;
          background-color: #f9fbfa;
        }
      }
    }
    .modulediv::-webkit-scrollbar {
      display: none;
    }
  }
}

#AdminDashboard {
  margin-left: 270px;
  padding: 5px;


    .grid-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
    }


  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #f15b29;
    margin-bottom: 2px;
  }

  .numberdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    > div {
      text-align: center;
      padding: 10px 5px;
      border-radius: 10px;
      /* flex: 1; */
      background-color: rgb(0, 0, 0, 0.03);

      i {
        font-size: 30px;
      }

      h2 {
        font-weight: 600;
      }

      span {
        font-size: 20px;
        font-weight: 600;
        color: #f15b29;
      }
    }
  }

  .courselist {
    table {
      width: 100%;
      text-align: center;
    }

    table,
    td,
    th {
      border: 1px solid rgb(0, 0, 0, 0.2);
    }
    th {
      background-color: grey;
      color: white;
    }
  }
}

#AdminAddCourse {
  margin-left: 270px;
  .jobdetails {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 20px;

    .jobdetailsdiv {
      overflow-y: scroll; 
      scrollbar-width: none; 
      background-color: white;
      height: calc(100vh - 120px);
      width: 80%;
      padding: 10px;
      .title {
        display: flex;
        font-weight: 600;
        font-size: 18px;
        color: #f15b29;
        justify-content: space-between;

        span {
          cursor: pointer;
        }
      }

      table {
        width: 100%;
        text-align: center;
        font-size: 14px;
    
      }
      td {
        padding: 5px;
      }
      tr {
        border: 1px solid rgb(0, 0, 0, 0.3);
      }
    }
  }
  .adduser{
    form{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      input, select {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #cccccc;  
        margin: 2px 0;  
      }
      input:focus, select:focus {
        outline: none;
      }
      button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .coursetable {
    overflow-x: scroll;
  }
}

table tbody{
  .MANAGER{
    background-color: rgb(0, 89, 255);
  }
  .LEADER{
    background-color: greenyellow;
  }

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}