.revenue {
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.revenue-growth {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  text-align: center;
}

.revenue-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}

.revenue-card h2 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  color: #333;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 10px;
}

.revenue-card p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #555;
}

.revenue-card p span {
  font-weight: bold;
  color: #4caf50;
}

#form {
  form {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: auto;
  }

  div {
    margin: 0 2px;
  }

  input {
    padding: 10px;
    border: 1px solid #CCCCCC;
    width: 100%;
    margin: 2px 0;
    border-radius: 10px;
  }

  input:focus {
    outline: none;
  }

  button {
    background-color: black;
    margin: 0 2px;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
}

.bdarevenuetable{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  td,th{
    border: 1px solid;
    padding: 2px 10px;
  }
}

table{
  tbody{
      .Paid{
          background-color: rgb(128, 247, 128);
      }
      .NotInterested{
          background-color: rgb(255, 0, 0);
      }
  }
}

#TeamHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    img {
      height: 50px;
    }

    span {
      cursor: pointer;
      font-size: 28px;
      font-weight: 600;
      transition: all ease 0.3s;
    }

    span:hover {
      color: #f15b29;
      font-size: 30px;
    }
  }

  .sidebar {
    width: 265px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    /* right: 0; */
    position: fixed;
    display: flex;
    flex-direction: column;
    /* transform: translateX(200px); */
    /* animation: fadeInUp 1.1s forwards; */
    max-height: calc(100vh - 80px);
     overflow-y: scroll; 
    scrollbar-width: none; 

    .detail {
      padding: 5px;
      text-align: center;

      span {
        font-size: 50px;
      }

      h2 {
        font-weight: 600;
      }
    }

    a {
      font-size: 20px;
      padding: 10px 10px;
      width: 100%;
      transition: all ease-in-out 0.5s;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    a:hover {
      color: #f15b29;
      background-color: rgb(0, 0, 0, 0.05);
    }

    button {
      background-color: black;
      margin: 10px;
      padding: 5px;
      color: white;
      border-radius: 10px;
    }
  }
}

#targetSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;

  .revenue-card{
    width: 100%;
  }
}